<?xml version="1.0" encoding="UTF-8"?>
<Context>
    <Resource name="jdbc/account" auth="Container"
              type="javax.sql.DataSource"
              driverClassName="com.mysql.cj.jdbc.Driver"
              url="jdbc:mysql://localhost:3306/account?useSSL=false&amp;serverTimezone=GMT%2B8"
              username="root"
              password="password"
              maxActive="50"
              maxIdle="30"
              maxWait="10000" />
</Context>